<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-dark py-3">
    <div><a class="navbar-brand mb-0 h2" style="font-size: 30px" href="/admin/adminHome">Best Electronics</a></div>
    <div class="navbar-nav w-100">
        <div class="ml-auto">
            <a class="nav-link nav-link active" href="/admin/adminHome">Home</a>
        </div>
        <div class="ml-auto">
            <a class="nav-link nav-link active" href="/admin/products">Products</a>
        </div>
        <div class="ml-auto">
            <a class="nav-link nav-link active" href="/admin/users">Users</a>
        </div>
        <div class="ml-auto">
            <a class="nav-link nav-link active" href="/admin/orderDetails">Orders</a>
        </div>
        <div class="ml-auto">
            <a class="nav-link nav-link active" href="/admin/profile">Profile</a>
        </div>
        <div class="ml-auto">
            <a class="nav-link nav-link active" href="/reports">Generate & Send Report</a>
        </div>
        <div class="ml-auto">
            <a class="nav-link nav-link active" href="/admin/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container p-2 text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card" style="width: auto; height: 100px; display: table; margin: auto;">
                <div class="card-body">
                    <h5>Admin Profile</h5>
                    <p><a href="/admin/editProfile">Edit</a></p>
                    <table class="table table-dark">
                        <tbody>
                        <tr>
                            <th scope="row">First Name</th>
                            <td data-th-text="${firstName}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td data-th-text="${lastName}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Email Address</th>
                            <td data-th-text="${emailAddress}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>